# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'vs2017-win2016'
    steps:
    - task: aquasecScanner@4
      displayName: Scan image using Aqua
      inputs:
        image: 'alpine:3.9.4'
        scanType: 'local'
        register: true
        hideBase: false
        showNegligible: true
        windowsScannerVersion: '4.2.0'
        registry: 'Docker Hub'
        connection: 'AquaSec-Console'
        customFlags: '--show-negligible'
        caCertificates: true